@import "../../../../common";

.brand-logo-icon {
  padding-left: 5px;
}
.brand-logo, .brand-logo-icon {
  font-size: 2rem;
  color: $white-color;
  @include on-mobile {
    font-size: 1.2rem;
  };
}
.pacifico.brand-logo {
  @include on-mobile {
    display: none;
  }
}
