@import "../../../common";

app-login-app {
  @include full-screen;
}

mat-form-field {
  display: block;
}

.img-container {
  @include full-screen-bacground-img("../../../assets/img/landing-page-img.jpg");
}

.fixed-toogle-button {
  position: fixed;
  right: 5px;
  top: 60px;
  z-index: 3;
}
::ng-deep {
  mat-list-option.mat-list-item-disabled {
    * {
      color: gray !important;
    }
  }
}
