<div class="main-container">
  <div class="mat-card" [class.hidden]="isLoading">
    <div class="mat-card-header">
      <div class="mat-card-title">
        <div class="name-container">
          <h2>Ranks</h2>
        </div>
        <h5 class="mat-card-title">Opinions rank</h5>
        <div class="line-separator"></div>
        <div class="list-item" *ngFor="let opinionRank of ranks.opinionRank; let index = index"><span class="item-number">{{index + 1}}.</span> <span>{{opinionRank.name}}</span> <span>{{opinionRank.petrolStationStats.avgOpinion}}</span></div>
        <ng-container *ngFor="let fuelTypeName of getKeysOfFuelType()">
          <h5 class="mat-card-title">{{fuelTypeName}} price rank</h5>
          <div class="line-separator"></div>
          <div class="list-item" *ngFor="let fuelTypRank of getRanksOfFuelType(fuelTypeName); let index = index"><span class="item-number">{{index + 1}}.</span> <span>{{fuelTypRank.name}}</span> <span>{{getFuelPriceOfName(fuelTypeName, index)}} zł</span></div>
        </ng-container>
      </div>
    </div>
    <div class="mat-card-header">
    </div>
    <div class="max-values-container">
    </div>
  </div>
  <mat-spinner [class.hidden]="!isLoading"></mat-spinner>
</div>
