@import "../../../common";

.fixed-toogle-button {
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 3;
}
::ng-deep {
  mat-list-option.mat-list-item-disabled {
     * {
       color: gray !important;
     }
  }
}
