<div class="app-container main-container">
  <app-navbar class="navbar" (buttonClickEvent)="sidenav.toggle()"></app-navbar>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav #sidenav>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<app-dual-presentator-toggle *ngIf="router.url === '/main/petrol-list'" class="fixed-toogle-button hide-on-desktop"></app-dual-presentator-toggle>
