<mat-selection-list [multiple]="false">
  <div *ngFor="let item of menuItems" [matTooltip]="'You\'re ' + (this.userPoints - this.userPreviliges.master) + ' points short'" [matTooltipDisabled]="!item.isDisabled">
    <mat-list-option color="primary"
                     [value]="item.href"
                     [disabled]="item.isDisabled"
                     (click)="onMenuItemClick(item.href, item.procedure)">
      <span class="menu-item">
        <mat-icon>{{item.iconName}}</mat-icon>
        <span>{{item.title}}</span>
      </span>
    </mat-list-option>
  </div>
</mat-selection-list>
