<span class="show-button" (click)="switchToggle()"><mat-icon>filter_alt</mat-icon></span>
<div class="main-container" *ngIf="toggleValue" @myInsertRemoveTrigger>
  <div class="spec-fuel">
    <h5 class="filter-label">Wybierz rodzaj paliwa:</h5>
    <mat-radio-group color="primary" (change)="this.onRadioButtonChange($event)">
      <mat-radio-button value="all">All</mat-radio-button>
      <mat-radio-button *ngFor="let type of fuelTypes" value="{{type}}">{{type | titlecase}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <h5 class="filter-label">Średnia ocen stacji</h5>
  <div class="filters">
    <mat-slider [(value)]="selectedAvgOpinion"  thumbLabel [displayWith]="formatLabel" min="1" max="5" step="0.5" value="1" color="primary"></mat-slider>
  </div>
  <div class="filters">
    <mat-form-field appearance="fill">
      <mat-label>Odległość</mat-label>
      <mat-select disableRipple [(value)]="selectedDistance">
        <mat-option value="5">5km</mat-option>
        <mat-option value="10">10km</mat-option>
        <mat-option value="20">20km</mat-option>
        <mat-option value="40">40km</mat-option>
        <mat-option value="60">60km</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sorters">
    <mat-form-field appearance="fill">
      <mat-label>Sortowanie</mat-label>
      <mat-select disableRipple [(value)]="selectedSorting">
        <mat-option value="distance" >Odległość</mat-option>
        <mat-option value="petrolStationStats.amountOfOpinion">Ilość ocen</mat-option>
        <mat-option value="petrolStationStats.avgOpinion">Średnia ocen</mat-option>
        <mat-option value="popularity">Popularność</mat-option>
        <mat-option value="price">Cena</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="this.onSubmit()">Filtruj <mat-icon>filter_alt</mat-icon></button>
</div>
