@import "../../../common";

.main-container {
  background: $white-color;
  padding: 10px;
  @include default-box-shadow;
  margin-top: 25px;
  @include transition-of-property(margin-left, 0.4s);
  margin-left: -100vw;
}

.show-button {
  position: absolute;
  right: -22px;
  top: 25px;
  background: $white-color;
  @include default-box-shadow;
  @include transition-of-property(transform);

  &:hover {
    transform: scale(1.1);
  }
}

.filter-label {
  margin-bottom: 5px;
}
mat-slider {
  @include full-width;
}

.filter-opened {
  margin-left: 0;
}
