@import "../../../common";

.login-card-container {
  $button-margin: 20px;
  @include flex-end;
  @include full-screen;
  align-items: flex-start;

  @include on-mobile {
    @include flex-center;
  }
  mat-form-field {
    display: block;
  }

  .small-card {
    margin: $button-margin;
    @include col(2, 12);
  }

  ::ng-deep {

    mat-form-field {
      display: block;
      margin-bottom: $button-margin;
    }

    .submit-button {
      margin-top: $button-margin;
      @include full-width;
    }

  }
  mat-card.centralized {
    mat-card-header {
      @include flex-center;
    }

    mat-card-content,
    mat-card-title {
      text-align: center;
    }
  }

}

