@import '~@angular/material/theming';
@include mat-core();
@import 'material-custom';

$mobile-width: 599px;

@mixin full-screen{
  width: 100%;
  height: 100%;
}

@mixin centralized {
  margin: 0 auto;
}

@mixin fit-content() {
  display: inline-block;
  width: auto;
  height: auto;
}

@mixin flex-end() {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-start() {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-screen-bacground-img($img) {
  background: url($img) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin on-mobile() {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}


$col-unit: 8.333333%;

@mixin col-desktop($number) {
  width: $number * $col-unit;
}

@mixin col($number, $mobile-number){
  width: $number * $col-unit;
  @include on-mobile {
    width: $mobile-number * $col-unit;
  }
}

@mixin default-box-shadow {
  box-shadow:  0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12)
}

@mixin pacifico {
  font-family: Pacifico, sans-serif;
}
.pacifico {
  @include pacifico;
}

$white-color: $light-primary-text;
$dark-theme-color: map-get($polish-station-theme-primary, A700);
$light-theme-color: map-get($polish-station-theme-primary, 50);

.theme-gradient {
  background: linear-gradient(0.25turn, $dark-theme-color, $light-theme-color);
}

.mat-card.small-card {
  @include fit-content;
}
.app-container {
  @include full-screen;
}

.main-container {
  display: flex;
  flex-direction: column;
  > * {
    flex-grow: 1;
    &.navbar {
      flex-grow: 0;
      z-index: 2;
    }
  }
}

@mixin full-width {
  width: 100%;
}

.full-width {
  @include full-width;
}

mat-toolbar {
  @include default-box-shadow;
}

.container-content-fluid {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 0;
  @include centralized;
  @include col-desktop(12);
}

.navbar-buttons-contianer {
  @include full-width;
  @include flex-end;
  > button {
    margin: 0 5px;
  }
}
