$my-black: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $dark-primary-text,
  400: $dark-primary-text,
  500: $dark-primary-text,
  600: $dark-primary-text,
  700: $dark-primary-text,
  800: $dark-primary-text,
  900: $dark-primary-text,
  A100: $dark-primary-text,
  A200: $dark-primary-text,
  A400: $dark-primary-text,
  A700: $dark-primary-text,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$polish-station-theme-primary: mat-palette($mat-red);
$polish-station-theme-accent: mat-palette($my-black);
$polish-station-theme-warn: mat-palette($mat-deep-orange);

$polish-station-theme: mat-light-theme(
    $polish-station-theme-primary,
    $polish-station-theme-accent,
    $polish-station-theme-warn
);

$polish-station-input-theme-primary: mat-palette($my-black);
$polish-station-input-theme-accent: mat-palette($my-black);
$polish-station-input-theme-warn: mat-palette($mat-deep-orange);

$polish-station-input-theme: mat-light-theme(
  $polish-station-input-theme-primary,
  $polish-station-input-theme-accent,
  $polish-station-input-theme-warn
);

@include angular-material-theme($polish-station-theme);
@include mat-input-theme($polish-station-input-theme);
@include mat-form-field-theme($polish-station-input-theme);
